In [2]:
import pandas as pd
s1 = pd.Series(12,index=[1,2])
print(s1)

1    12
2    12
dtype: int64

In [4]:
import pandas as pd
s1 = pd.Series(12,index=[1,2,3,4])
s2 = pd.Series(13, index = [1,2,3,4])
print(s1 +s2)

1    25
2    25
3    25
4    25
dtype: int64

In [5]:
import pandas as pd
s1 = pd.Series(12,index=[1,2,3,4])
s2 = pd.Series(13, index = [1,2,3,])
print(s1 +s2)

1    25.0
2    25.0
3    25.0
4     NaN
dtype: float64

In [6]:
import pandas as pd
list = [[1,2,3],[4,5,6]]
var2 = pd.DataFrame(list)
print(var2)

   0  1  2
0  1  2  3
1  4  5  6

In [8]:
import pandas as pd
sr = {"s":pd.Series([1,2,3,4]),"r":pd.Series([5,6,7,8])}
var2=pd.DataFrame(sr)
print (var2)

   s  r
0  1  5
1  2  6
2  3  7
3  4  8

In [10]:
# write data in different type
import pandas as pd
var = pd.DataFrame({"A":[1,2,3,4],"B":[5,6,7,8]})
print(var)

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

In [11]:
# Access data individually
import pandas as pd
var = pd.DataFrame({"A":[1,2,3,4],"B":[5,6,7,8]})
print(var["A"])
print(var["B"])

0    1
1    2
2    3
3    4
Name: A, dtype: int64
0    5
1    6
2    7
3    8
Name: B, dtype: int64

In [18]:
import pandas as pd
var = pd.DataFrame({"A":[1,2,3,4],"B":[5,6,7,8]})
var["Sum"]=var["A"]+var["B"]
print(var)

   A  B  Sum
0  1  5    6
1  2  6    8
2  3  7   10
3  4  8   12

In [16]:
# condition among the column
import pandas as pd
var = pd.DataFrame({"A":[1,2,3,4],"B":[5,6,7,8]})
var["pyt"]=var["A"] <= 2
var["jav"]=var["B"] >=6
var

   A  B    pyt    jav
0  1  5   True  False
1  2  6   True   True
2  3  7  False   True
3  4  8  False   True

In [17]:
# How to merge two data frames
import pandas as pd
var1 = pd.DataFrame({"A":[1,2,3,4],"B":[5,6,7,8]})
var2 = pd.DataFrame({"A":[1,2,3,4],"C":[9,10,11,12]})
pd.merge(var1,var2, on = 'A')

   A  B   C
0  1  5   9
1  2  6  10
2  3  7  11
3  4  8  12